:root{
    --titleColor: var(--font-lightcolor2);
    --titleSpanColor: var(--font-darkcolor1);
    --subTitleColor: var(--font-lightcolor2);
}

.Title{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Title h1 {
  font-size: 32px;
  color: var(--titleColor);
}

.Title h1::after {
    display: block;
    content: "";
    height: 2px;
    width: 100%;
    background-color: var(--titleColor);
}

.Title h1 span{
    color: var(--titleSpanColor);
}

.Title h2{
  font-size: 18px;
  color: var(--subTitleColor);

}