:root{
    --buttonBackground: var(--font-darkcolor1);
    --buttonColor: var(--font-lightcolor2);
}

.DownloadButton{
    width: 100%;
}

.DownloadButton button{
    width: 100%;
    background-color: var(--buttonBackground);
    color: var(--buttonColor);
    border: none;
    border-radius: 2px;
    padding: 5px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.DownloadButton button:hover{
    background-color: var(--font-lightcolor2);
    color: var(--font-darkcolor1);
}

.iconsContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}
    
.iconsContainer a{
    width: 30px;
}
    
.iconsContainer a svg{
  width: 100%;
  height: 100%;
}