.Main {
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 30px;
  gap: 30px;
  flex-direction: column;
}

.img_Content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  max-width: 450px;
  min-width: 100px;
}

.Avatar {
  border-radius: 100%;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.Main p {
  max-width: 1080px;
}
