.Main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 100px;
  flex-direction: row;
}

.hero_buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 5px;
}

.LeftContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
